* {
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  min-height: 100vh;
  background-color: #C0DBD9;
  padding: 0 15px;
  display: grid;
  gap: 15px;
  grid-template-rows: 100px 1fr 100px;
}

a {
  border-radius: 5px;
  margin: 0;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 20px;
  line-height: normal;
  color: white;
}

section + section {
  margin-top: 15px;
}

header, footer {
  background-color: #7FAFF6;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.open-pop-up-button {
  background-color: #A5C7F9;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: white;
  font-size: 53px;
  line-height: 400px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in;
}

.pop-up_close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #7FAFF6;
}

.pop-up:target {
  opacity: 1;
  pointer-events: all;
}

.first-block {
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(2, minmax(auto, 198px));
  grid-template-columns: minmax(auto, 390px) minmax(auto, 590px) minmax(auto, 160px);
  background-color: #B3F95A;
  counter-reset: block;
}

.first-block > div {
  width: 100%;
  height: 100%;
  background-color: #8AD191;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-block > div::after {
  font-size: 53px;
  counter-increment: block;
  content: counter(block);
  color: white;
}

.first-block > div:nth-child(4) {
  grid-column: 1/3;
}

.second-block {
  background-color: #88B5BF;
  display: flex;
  gap: 30px;
  padding: 30px;
}

.second-block_card-wrapper {
  background-color: #0D89B0;
  width: 100%;
}

.second-block_card-wrapper > div {
  padding-top: 78%;
}
